@use "/src/scss/variables/breakpoints";

.pay {
	&__price {
		flex-grow: 1;
	}

	b {
		font-size: 32px;
	}

	a {
		font-size: 14px;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	&__btn {
		width: 182px;

		@media screen and (max-width: 990px) {
			width: 100%;
		}
	}
}
