@use "/src/scss/variables/breakpoints";
@use "/src/scss/variables/colors";

.radio {
	position: relative;

	display: flex;
	align-items: center;
	gap: 16px;

	width: fit-content;

	cursor: pointer;

	input {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		height: 0;
		width: 0;
	}

	&__checkmark {
		position: relative;

		flex-shrink: 0;

		width: 20px;
		height: 20px;

		border-radius: 100%;
		background: #696969;
		border: 1px #696969 solid;

		&::after {
			content: "";

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 80%;
			height: 80%;
			border-radius: 100%;

			background: colors.$blueGradient;
			transition: 0.3s ease-in-out all;
			opacity: 0;
		}
	}

	input:checked ~ &__checkmark {
		background: transparent;

		&::after {
			opacity: 1;
		}
	}

	&__caption {
		// text-wrap: ;
		// word-break: break-all;
		// word-wrap: break-word;
	}
}
.itemD {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;

	&__text {
		font-family: Mont;
		font-style: Regular;
		font-size: 16px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
		vertical-align: middle;
		color: rgba(48, 145, 255, 1);
	}
}
