.filter {
	position: relative;
	z-index: 1000;

	&__swipe {
		background-color: #d9d9d933;
		width: 96px;
		height: 6px;
		margin: 0 auto;
		border-radius: 50px;
	}

	&__btn {
		position: relative;
		right: 0;

		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: auto;
		font-family: "Inter";
		padding: 10px 13px;
		margin-right: -15px;
		border-radius: 20px 0 0 20px;
		background: linear-gradient(90deg, #0077ff, #222834);

		animation: filter 7s ease-in infinite forwards;
		display: flex;
		flex-direction: column;
	}

	&__body {
		position: fixed;
		z-index: 50;

		left: 0;
		bottom: 0;

		width: 100vw;
		max-height: calc(80vh - env(safe-area-inset-bottom));
		min-height: 62vh;

		padding: 30px 40px;
		padding-top: 15px;
		padding-bottom: calc(20px + env(safe-area-inset-bottom));
		border-radius: 20px 20px 0 0;
		background: radial-gradient(farthest-corner at 100% 50%, #242f42, #222834);

		overflow-y: auto;
		overflow-x: hidden;

		transform: translateY(150%);
		transition: transform 0.3s ease;

		&._open {
			transform: translateY(0%);
		}
	}

	&__con {
		height: max-content;
		max-height: 50vh;
		overflow-y: auto;
		padding-bottom: 50px;
		padding-top: 50px;
		-webkit-mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			black 15%,
			black 85%,
			transparent 100%
		);
		mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			black 15%,
			black 85%,
			transparent 100%
		);
	}

	&__close {
		width: 100%;
	}
}

@keyframes filter {
	0% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	10% {
		padding: 10px 15px 10px 13px;
		filter: brightness(1.3);
	}

	20% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	30% {
		padding: 10px 15px 10px 13px;
		filter: brightness(1.3);
	}

	40% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	100% {
		padding: 10px 13px;
		filter: brightness(1);
	}
}

.filter__swipe__zone {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 80px;
	z-index: 5;
}
