@use "/src/scss/variables/transitions";
@use "/src/scss/variables/zIndex";

.filter {
	position: relative;
	z-index: zIndex.$z-index-100;

	&__btn {
		position: relative;
		right: 0;

		display: flex;
		align-items: center;
		gap: 15px;

		font-family: "Inter";

		padding: 10px 13px;
		margin-right: -15px;
		border-radius: 20px 0 0 20px;
		background: linear-gradient(90deg, #0077ff, #222834);

		animation: filter 7s ease-in infinite forwards;
		// animation-iteration-count: 2;
	}

	&__con {
		overflow-y: auto;
		height: 90%;
	}

	&__body {
		position: fixed;
		z-index: 50;
		top: 90px;
		right: -100%;

		width: 100vw;
		height: calc(100vh - 190px);

		padding: 30px 40px;
		border-radius: 20px 0 0 20px;
		background: radial-gradient(farthest-corner at 100% 50%, #242f42, #222834);

		overflow: hidden;
		overflow-y: scroll;

		&._open {
			transform: translateX(-98%);
		}
	}

	&__body-inner {
		display: flex;
		flex-direction: column;
		gap: 40px;

		touch-action: pan-y;
		height: 80%;

		overflow-y: auto;
		flex: 1 1 auto;
		min-height: 0;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__title {
		font-family: "Inter", sans-serif;
		font-weight: 600;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__close {
		position: absolute;
		top: 30px;
		right: 30px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 44px;
		height: 44px;

		border-radius: 100%;
		background-color: #333940;
	}
}

@keyframes filter {
	0% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	10% {
		padding: 10px 15px 10px 13px;
		filter: brightness(1.3);
	}

	20% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	30% {
		padding: 10px 15px 10px 13px;
		filter: brightness(1.3);
	}

	40% {
		padding: 10px 13px;
		filter: brightness(1);
	}

	100% {
		padding: 10px 13px;
		filter: brightness(1);
	}
}
