@use "/src/scss/variables/breakpoints";

.slide__img._hidden {
	display: none;
}

.slide__skeleton {
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
	animation-delay: 0.4s;
	height: 100%;
}

@keyframes pulse {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

.desktop {
	position: relative;

	height: 362px;

	border-radius: 20px;
	padding: 0 44px;
	background: #23262f;

	overflow: hidden;

	@media screen and (max-width: breakpoints.$lg) {
		display: none;
	}

	&__text {
		position: relative;
		z-index: 10;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;

		max-width: 250px;
		height: 100%;
	}

	&__title {
		font-family: "Unbounded";
		font-size: 36px;
		font-weight: bold;
		text-align: left;
	}

	&__subtitle {
		font-size: 14px;
		max-width: 90%;
	}

	&__bg {
		& > div:first-child {
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;

			width: 387px;
			height: 361px;

			border-radius: 20px 0 0 20px;

			background: linear-gradient(90deg, #23262f 73%, #23262f00 100%);

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				background: linear-gradient(45deg, #783ff2, #00000000 60%);

				opacity: 0.2;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				background: linear-gradient(90deg, #23262f 5%, #23262f00 100%);
			}
		}

		& > div:last-child {
			position: absolute;
			z-index: 5;
			top: 0;
			right: -2px;

			width: 115px;
			height: 361px;

			border-radius: 20px 20px;

			background: linear-gradient(90deg, #23262f00 20%, #23262f 90%);
		}
	}
}

.mobile {
	@media screen and (min-width: breakpoints.$lg) {
		display: none;
	}

	&__title {
		font-family: "Unbounded";
		text-align: center;
		font-size: 36px;
		font-weight: 500;
		height: 45px;
		background: -webkit-linear-gradient(#f7f7f7, #91919100 90%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__swipers {
		display: flex;
		flex-direction: column;
		gap: 10px;

		margin: 0 -15px;
	}

	&__swiper {
		&._bottom {
			margin-left: -60px;
		}
	}
}

.swiper-container {
	position: absolute;
	z-index: 1;
	left: 5px;
	right: 5px;

	overflow: hidden;

	&._top {
		top: 14px;
	}

	&._bottom {
		bottom: 12px;
		left: 100px;
	}
}

.slide {
	width: auto !important;
	&__inner {
		border-radius: 20px;

		width: 321px;
		height: 160px;

		overflow: hidden;

		@media screen and (max-width: breakpoints.$lg) {
			width: 170px;
			height: 85px;
		}
	}

	&__img {
		border-radius: 20px;
		width: 100%;
	}

	&__caption {
		position: absolute;
		z-index: 5;

		left: 50%;
		bottom: 10px;
		transform: translate(-50%, 0);

		text-align: center;
		font-size: 14px;
		font-weight: 500;

		@media screen and (max-width: breakpoints.$lg) {
			font-size: 12px;
		}
	}

	&__bg {
		position: absolute;

		bottom: 0;
		left: 0;

		width: 100%;
		height: 72px;
		border-radius: 20px;

		background: linear-gradient(#00000000, #000000);
	}
}

.swiper {
	// overflow: visible !important;
}

.skeletonPc {
	position: relative;

	height: 362px;

	border-radius: 20px;
	padding: 0 44px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	animation: pulse 3s infinite ease-in-out;
	background-size: 400% 100%;
	overflow: hidden;

	@media screen and (max-width: breakpoints.$lg) {
		display: none;
	}
}

@keyframes pulse {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

.skeletonMob {
	position: relative;

	height: 225px;

	border-radius: 20px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	animation: pulse 3s infinite ease-in-out;
	background-size: 400% 100%;
	overflow: hidden;

	@media screen and (min-width: breakpoints.$lg) {
		display: none;
	}
}
