@use "/src/scss/variables/breakpoints";

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, 214px);
	gap: 40px 25px;
	justify-content: start;

	@media screen and (max-width: breakpoints.$lg) {
		grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));

		gap: 30px 8px;
	}
}
