.skeleton-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	max-width: 246px;
	width: 100%;
	background: #1b1a21;
	border-radius: 20px;
	box-sizing: border-box;
}

.image {
	width: 100%;
	height: 200px; // фиксируем как у картинки
	border-radius: 10px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
}

.title {
	width: 100%;
	height: 32px;
	border-radius: 6px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
	animation-delay: 0.2s;
}

.review {
	width: 70%;
	height: 20px;
	border-radius: 6px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
	animation-delay: 0.3s;
}

.price {
	width: 50%;
	height: 22px;
	border-radius: 6px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
	animation-delay: 0.4s;
}

.button {
	width: 100%;
	height: 36px;
	border-radius: 10px;
	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	background-size: 200% 100%;
	animation: pulse 1.5s infinite ease-in-out;
	animation-delay: 0.5s;
}

@keyframes pulse {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
