@use "/src/scss/variables/breakpoints";

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px 25px;
	justify-content: start;
	min-height: 200px;

	@media screen and (max-width: breakpoints.$lg) {
		grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
		gap: 30px 8px;
	}
}

.loading {
	margin-top: 40px;

	@media screen and (max-width: breakpoints.$lg) {
		margin-top: 30px;
	}
}
