@use "/src/scss/variables/breakpoints";
@use "/src/scss/variables/transitions";
@use "/src/scss/variables/colors";

.content {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	height: 100%;
	max-width: 246px;

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: -10px;
		bottom: -10px;
		right: -10px;
		left: -10px;

		border-radius: 20px;

		background: radial-gradient(farthest-corner at 0 10%, #222630 90%, #2a303f);
		opacity: 0;

		transition: transitions.$main;
	}

	&:hover::after {
		@media screen and (min-width: breakpoints.$lg) {
			opacity: 1;
		}
	}

	&__img {
		width: 100%;
		flex: 1;
		border-radius: 10px;

		object-fit: fill;
	}

	&__title {
		font-size: 14px;
		position: relative;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;

		white-space: normal;
		text-overflow: ellipsis;
	}

	&__review {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 5px;
	}

	&__review-block {
		display: flex;
		align-items: center;
		gap: 5px;

		border-radius: 20px;
		padding: 4px 6px;
		background-color: rgb(168, 168, 168, 0.2);

		img {
			transform: translateY(-10%);
		}

		span {
			font-size: 10px;
		}
	}

	&__bottom {
		font-weight: 600;
	}

	&__btn {
		width: 100%;
	}
}
