@use "/src/scss/variables/breakpoints";

.reviews {
  padding: 30px 24px;
  border-radius: 20px;
  border: 1px rgb(255, 255, 255, 0.1) solid;

  @media screen and (max-width: breakpoints.$lg) {
    padding: 16px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    margin-bottom: 24px;

    @media screen and (max-width: breakpoints.$lg) {
      justify-content: space-between;
    }
  }

  &__star {
    flex-grow: 1;

    display: flex;
    align-items: center;
    gap: 5px;

    @media screen and (max-width: breakpoints.$lg) {
      flex-grow: 0;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 19px;

    span {
      font-size: 16px;
    }

    &._down {
      svg {
        transform: rotate(180deg);
      }
    }

    @media screen and (max-width: breakpoints.$lg) {
      flex-basis: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 18px;

    margin-bottom: 22px;

    @media screen and (max-width: breakpoints.$lg) {
      gap: 16px;

      margin-bottom: 24px;
    }
  }

  &__btn {
    width: 100%;
  }
}

.review {
  display: flex;
  align-items: flex-start;
  gap: 22px;

  @media screen and (max-width: breakpoints.$lg) {
    gap: 10px;
  }

  &__name {
    display: block;
    font-size: 14px;

    margin-bottom: 4px;
  }

  &__time {
    display: block;

    font-size: 12px;
    color: rgb(255, 255, 255, 0.6);

    margin-bottom: 10px;
  }

  &__comment {
    font-size: 14px;
  }
}
