.filter__btn {
	background: radial-gradient(
		54.17% 54.17% at 73.61% 27.78%,
		#3d97ff 0%,
		#0077ff 100%
	);
	border-radius: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-wrap: nowrap;
	padding: 7px 13px;
	font-family: "Mont";
	font-weight: 400;
	color: #ffffff;

	@media screen and (max-width: 480px) {
		font-family: Inter;
		font-weight: 400;
		font-style: Regular;
		font-size: 12px;
		leading-trim: NONE;
		line-height: 20px;
		letter-spacing: -1%;
		vertical-align: middle;

		padding: 2px 10px;
		gap: 8px;
		background: rgba(51, 57, 64, 1);
		color: white;
	}
}

.desk {
	display: block;

	@media screen and (max-width: 480px) {
		display: none;
	}
}

.mob {
	display: none;

	@media screen and (max-width: 480px) {
		display: block;
	}
}
