@use "/src/scss/variables/breakpoints";

.checkbox {
	gap: 0 !important;
}

.activation {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 24px;
		background: rgb(255, 255, 255, 0.1);
		border-radius: 20px;

		@media screen and (max-width: breakpoints.$lg) {
			padding: 16px;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		font-family: "Unbounded";
		font-size: 20px;

		&__mini {
			font-size: 16px;
		}

		@media screen and (max-width: breakpoints.$lg) {
			text-align: center;
		}
	}

	&__options {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 10px;

		&._row {
			grid-template-rows: unset;
			grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
			gap: 8px 40px;
		}

		&--two {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 12px 24px;
		}
	}
}

.showMoreBtn {
	margin: 0 auto;
}

.showMoreBtn {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 200px;

	&__icon {
		transition: transform 0.3s ease;
		transform: rotate(180deg);
		filter: invert(60%);
		&--rotated {
			transform: rotate(0deg);
		}
	}
}
