@use "/src/scss/variables/breakpoints";
@use "/src/scss/variables/transitions";

.filersBlock-vertical {
	&__aside {
		flex-basis: 231px;
		position: sticky;
		top: 100px;
	}
}

.aside {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: max-content;
	width: 270px;
}

.filter {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__title {
		font-family: "Inter", sans-serif;
		font-weight: 600;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.skeleton {
	height: 450px;
	width: 270px;

	border-radius: 20px;

	background: linear-gradient(90deg, #292832 25%, #3a3946 50%, #292832 75%);
	animation: pulse 3s infinite ease-in-out;
	background-size: 400% 100%;

	@media screen and (max-width: breakpoints.$lg) {
		width: 100%;
	}
}

@keyframes pulse {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
