@use "/src/scss/variables/breakpoints";
@use "/src/scss/variables/transitions";
@use "/src/scss/variables/zIndex";

.select {
	position: relative;
	z-index: zIndex.$z-index-50;

	min-width: 205px;
	width: fit-content;
	cursor: pointer;

	@media screen and (max-width: 480px) {
		min-width: 160px;
		font-size: 12px !important;
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;

		padding: 12px 16px;
		background-color: #333940;
		border-radius: 50px;

		@media screen and (max-width: 480px) {
			padding: 2px 10px;
			justify-content: unset;
			gap: 8px;
			background-color: rgba(51, 57, 64, 1);
			color: rgba(255, 255, 255, 1);
		}

		svg {
			transition: transitions.$main;

			@media screen and (max-width: 480px) {
				filter: brightness(0) invert(1);
			}
		}
	}

	&__value {
		font-size: 14px;
		color: #7b7b7b;

		@media screen and (max-width: 480px) {
			color: rgba(255, 255, 255, 1);
			font-family: Inter;
			font-weight: 400;
			font-style: Regular;
			font-size: 12px;
			leading-trim: NONE;
			line-height: 20px;
			letter-spacing: -1%;
			vertical-align: middle;
		}
	}

	&__dropdown {
		display: none;

		position: absolute;
		z-index: -1;
		top: 1px;
		left: 0;
		right: 0;

		background-color: #f7f6f8;
		border-radius: 25px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: start !important;
			padding: 50px 18px 11px 18px;

			@media screen and (max-width: 480px) {
				padding: 32px 18px 11px 18px;
			}

			li {
				font-size: 14px;
				color: #7b7b7b;
				cursor: pointer;
				text-align: left;

				@media screen and (max-width: 480px) {
					font-family: Inter;
					font-weight: 400;
					font-style: Regular;
					font-size: 12px;
					leading-trim: NONE;
					line-height: 20px;
					letter-spacing: -1%;
					vertical-align: middle;
				}
			}
		}
	}

	&._opened &__head svg {
		transform: rotate(180deg);
	}

	&._opened &__dropdown {
		display: block;
	}
}
