@use "/src/scss/variables/breakpoints";
@use "/src/scss/variables/transitions";

.actions-mobile {
	position: relative;
	z-index: 10;

	flex-grow: 1;

	&__search {
		position: relative;

		width: 100%;

		display: flex;
		align-items: center;
		gap: 7px;

		background: #333940;
		border-radius: 42px;
	}

	&__search-input {
		flex-grow: 1;
		height: 38px;

		font-size: 14px;
		color: #7b7b7b;

		background: transparent;
		border: none;
		outline: none;
	}

	&__search-icon {
		width: 30px;
		height: 30px;

		padding-left: 10px;

		cursor: pointer;
	}

	&__search-container-circle {
		width: 25px;
		height: 25px;
		margin-left: 5px;
		cursor: pointer;
		background: #ffffff33;
		border-radius: 50%;
		position: relative;
	}

	&__search-shape {
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__search-btn {
		&._active svg {
			rect {
				transition: transitions.$main;
				&:not(:nth-child(2)) {
					fill: #242730;
				}
				&:nth-child(2) {
					stroke: #242730;
				}
			}
		}
	}
}
