@use "/src/scss/variables/breakpoints";

.apps {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 38px;
	transform: translateY(3px);

	@media screen and (max-width: breakpoints.$lg) {
		width: 90vw;
		justify-content: space-between;
	}
}

.app {
	position: relative;
	flex-shrink: 0;
	width: 24px;
	overflow: hidden;
	border-radius: 90px;
	transition: width 0.45s cubic-bezier(0.25, 1, 0.5, 1);
	display: flex;
	align-items: center;

	img {
		flex-shrink: 0;
		transition: filter 0.45s cubic-bezier(0.25, 1, 0.5, 1);
	}

	span {
		white-space: nowrap;
		margin-left: 8px;
		transform: translateX(-20px);
		opacity: 0;
		transition: transform 0.45s cubic-bezier(0.25, 1, 0.5, 1),
			opacity 0.45s cubic-bezier(0.25, 1, 0.5, 1);
	}
}

.app:hover {
	@media screen and (min-width: breakpoints.$lg) {
		background: radial-gradient(
			94.54% 94.54% at 0% 100%,
			#f3f3f3 71.87%,
			#b6b6b6 100%
		);
		max-width: 500px;
		color: #373737;
		font-size: 14px;
		font-family: Mont;
		padding: 6px;

		img {
			filter: invert(1);
		}

		span {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
